@import url('https://fonts.googleapis.com/css2?family=Lora:ital@0;1&family=Montaga&family=Montserrat:ital,wght@0,700;1,700&family=Rozha+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.rozha-one {
  font-family: "Rozha One", serif;
  font-weight: 400;
  font-style: normal;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.lora {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.montaga-regular {
  font-family: "Montaga", serif;
  font-weight: 400;
  font-style: normal;
}
